<section>
    <h1 class="text-center text-main mb-5">Forgot Password</h1>

    @if(order == 1) {
        <form [formGroup]="verifyEmail" class="border rounded-3 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email" />

              @if(verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty))
        {
       <div class="alert alert-danger mt-1">
         @if(verifyEmail.get('email')?.getError('required'))
            { 
                <p class="m-0">Email is Required</p>
            }
        @else if(verifyEmail.get('email')?.getError('email'))
            { 
                <p class="m-0">Enter Valid Email</p>
            }
          
       </div>
        } 
        </div>

        <button [disabled]="verifyEmail.invalid || verifyEmailLoading" type="submit" class="btn text-white d-block ms-auto bg-main">
            Verify Email
            @if (verifyEmailLoading)
                {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
        </button>
        </form>
    }
    @else if (order == 2)
    {

    <form [formGroup]="verifyCode" class="border rounded-3 shadow p-3" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-2">
            <label for="resetCode">Reset Code</label>
            <input id="resetCode" type="text" class="form-control" formControlName="resetCode" />

              @if(verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty))
        {
       <div class="alert alert-danger mt-1">
         @if(verifyCode.get('resetCode')?.getError('required'))
            { 
                <p class="m-0">Code is Required</p>
            }
        @else if(verifyCode.get('resetCode')?.getError('pattern'))
            { 
                <p class="m-0">Enter Valid Code</p>
            }
          
       </div>
        } 
        </div>

        <button [disabled]="verifyCode.invalid || verifyCodeLoading" type="submit" class="btn text-white d-block ms-auto bg-main">
            Verify Code
              @if (verifyCodeLoading)
                {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
        </button>

    </form>


    }
    @else if (order == 3)
    {
         <form [formGroup]="resetPassword" class="border rounded-3 shadow p-3" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-2">
            <label for="email">Email</label>
            <input readonly id="email" type="email" class="form-control" formControlName="email" />

              @if(resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty))
        {
       <div class="alert alert-danger mt-1">
         @if(resetPassword.get('email')?.getError('required'))
            { 
                <p class="m-0">Email is Required</p>
            }
        @else if(resetPassword.get('email')?.getError('email'))
            { 
                <p class="m-0">Enter Valid Email</p>
            }
          
       </div>
        } 
        </div>

         <div class="my-2">
            <label for="newPassword">Password</label>
            <input id="newPassword" type="password" class="form-control" formControlName="newPassword" />

              @if(resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty))
        {
       <div class="alert alert-danger mt-1">
         @if(resetPassword.get('newPassword')?.getError('required'))
            { 
                <p class="m-0">New Password is Required</p>
            }
        @else if(resetPassword.get('newPassword')?.getError('pattern'))
            { 
                <p class="m-0">Enter Valid Password</p>
            }
          
       </div>
        } 
        </div>

        <button [disabled]="resetPassword.invalid || resetPasswordLoading" type="submit" class="btn text-white d-block ms-auto bg-main">
            Reset Password
              @if (resetPasswordLoading)
                {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
        </button>
 
         </form>


    }

     




</section>