@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --main-color: #000000;
  --light-color: #b4aeae;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Inter", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}

.nav-link {
  transition: unset !important;
  color: var(--light-color) !important ;
  font-weight: bold !important ;
}
.active-link {
  color: var(--main-color) !important;
}

.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px var(--main-color);
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 10px #11bd1168;
}

.font-sm {
  font-size: 12px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #11bd11;
}
